body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

main {
    padding: 1rem;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.artwork {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    background-color: #f9f9f9;
}

.artwork img {
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.download-button {
    display: inline-block;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {

    header,
    footer {
        padding: 0.5rem;
    }

    .artwork {
        padding: 0.5rem;
    }
}